<!DOCTYPE html>
<!DOCTYPE html>
<html>
<head>
  <title>Rae's Photography</title>
</head>
<body>
<div id="topNav" data-content-field="navigation">
<nav class="main-nav"><ul>


      <li class="index-collection active-link">

            <a href="/">home</a>
   </li>



      <li class="blog-collection">




            <a href="//">blog</a>







      </li>



      <li class="page-collection">




            <a href="/about/">who i am</a>







      </li>



      <li class="folder-collection">



          <a>galleries (Unavailable)</a>
          <div class="subnav">
            <ul>


                  <li class="gallery-collection">
                    <a href="/portrait/">portrait</a>
                  </li>




                  <li class="gallery-collection">
                    <a href="/senior/">senior</a>
                  </li>




                  <li class="gallery-collection">
                    <a href="/wedding/">wedding</a>
                  </li>




                  <li class="gallery-collection">
                    <a href="/engagement/">engagement</a>
                  </li>



            </ul>
          </div>



      </li>



      <li class="page-collection">

          <a href="/app/views/static_pages/contact.html.erb/">contact me here</a>







      </li>



      <li class="products-collection">




            <a href="/prints/">prints(Not Available)</a>







      </li>



      <li class="">






            <a href="https://www.facebook.com/previewgallery21/" target="_blank">facebook</a>





      </li>


</ul>
</nav>
</div>
</body>
</html>
