<div class="add-photo">
  <%= form_for [@gallery, @photo] do |f| %>
    Photo Description
    <%= f.text_field :description %> &nbsp;&nbsp;
    URL
    <%= f.text_field :url %> &nbsp;&nbsp;
    <%= f.submit "Save Photo" %>
  <% end %>
</div>

