/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
  background-image: url(http://i.imgur.com/ZXGVR9z.jpg);
  background-size: cover;

}
li {font-family: 'Pinyon Script', cursive

}

h1 {font-family: 'Pinyon Script', cursive, bold;
  position: relative;
  color: #000;
  text-shadow: 2px 2px #ff0000;

}

.main-nav li {
  display: inline-block;
}

.add-photo {
  border: double 2px red;
  padding: 5px;
}

.photo {
  margin: 10px;
  float: left;
  text-align: center;
}

.watermark {
  display: block;
  clear: both;
  text-align: right;
}

a {
    color: black;
    background-color: #A9A9A9;
    padding: 5px;
}
